{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    {% if messages %}
    {% for message in messages%}
    <script>
        alert("{{message}}");
    </script>
    {% endfor %}
    {% endif%}

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-info ">
        <a class="navbar-brand" href="{% url 'index' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}" style="padding-left: 1116px;">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                </li>


                </li>

            </ul>

        </div>
    </nav>

    <div class="carousel-item active">
        <img src="{% static 'images/im.jpg' %}" alt="My image" class="d-block w-100" width="900"
        height="500">
      </div>


</body>

</html>