
{% extends "base.html" %}
{% block content %}

<h1 align="center">Reserved details</h1>

<table class="table table-dark">
    <thead>
      <tr>
        <th> departure_city</th>
        <th>arrival_city</th>
        <th>Class</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for i in reservation%}
      <tr>
        <td>{{i.departure_city}}</td>
        <td>{{i.arrival_city}}</td>
        <td>{{i.Class}}</td>
        <td>{{i.date}}</td>

        <td><button style="background-color:green;">
          <a
            href="{% url 'reservation_edit' i.id  %}"
            class="btn btn-secondary btn-sm"
            >Edit</a></button>
            
        </td>
        <td><button style="background-color:green;">
          <a href="{% url 'userhome' %}"
           class="btn btn-secondary btn-sm"
            >Back</a></button>
            
        </td>
        

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}